$colors-map:(
"primaryColor":$primaryColor,
"GrayColor":$GrayColor,
"darkBlack":$darkBlack,
"Gray-100":$Gray-100,
"Gray-200":$Gray-200,
"RiseNShine":$RiseNShine,
"RiseNShine300":$RiseNShine300,
"RiseNShine100":$RiseNShine100,
"CandyGrape":$CandyGrape,
"CandyGrape-100":$CandyGrape-100,
"CandyGrape-800":$CandyGrape-800,
"blackcolor":$blackcolor,
"candygrape-600":$candygrape-600
);

@each $name , $hex-value in $colors-map {
    .#{$name} {
        color:$hex-value;
    }
    .#{$name}-bg{
        background-color: $hex-value;
    }
}