.container{
    @include responsive-container(80%);
}
.d-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4,auto)
}
.float-left{
    float: left;
}
.float-right {
    float: right;
}
.clr {
    clear: both;
}
 
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}