.main {
    .prices{
        margin-top:100px;
        p{
            @include Typography(24px , 900 , 24.24px);
            margin-bottom: 24px;
        }
        h2{
            @include Typography(48px , 900 , 48.48px);
            margin-bottom:111px ;
        }
        .section-trip-price{
            margin-bottom: 30px;
            padding-left: 33px;
            padding-right: 33px;
            width: 33.33%;
            padding-top: 50px;
            padding-bottom: 50px;
            box-shadow: 10px 10px 0px 0px $blackcolor;
            border: 1.5px solid $darkBlack;
           
          &:nth-child(2){
                position: relative;
                top: -47px;
            
            p{
               border-bottom: 1px solid $GrayColor !important;
                
            }
         
            button {
                a{
                  color: $primaryColor !important;
                  @include Typography(18px , 700 , 24px);
                }
                  margin-left: 10px;
                  padding: 6px 0;
                  width: 95%;
                  background-color: transparent;
                  border-radius:15px ;
                  border: 1px solid $primaryColor !important;
              }
          }
         
            .section-trip-benefits{
               
                span{
                    @include Typography(22px , 700 , 23.32px);

                }
                h3{
                    @include Typography(36px , 900 , 36.36px);
                    margin-bottom: 16px;
                }
                h4{
                    @include Typography(24px , 900 , 24.24px);
                    margin-bottom: 16px;
                }
                p{
                    @include Typography(18px , 400 , 28px);
                    padding-bottom: 32px;
                    margin-bottom: 32px;
                    border-bottom: 1px solid $Gray-200;
                }

               
            }
           .btn{
            margin-top: 30px;
            button {
              a{
                color: $darkBlack;
                @include Typography(18px , 700 , 24px);
              }
                margin-left: 10px;
                padding: 6px 0;
                width: 95%;
                background-color: transparent;
                border-radius:15px ;
                border: 1px solid $darkBlack;
            }
           }
        }

    }
}