*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

body {
    font-family: "Noto Sans Arabic", sans-serif;
}
html{
    scroll-behavior: smooth;
}