// colors
$primaryColor:#ffffff;
$GrayColor:#A5A5A5;
$darkBlack:#191919;
$Gray-100:#797979;
$Gray-200:#4C4C4C;
$RiseNShine:#FEC430;
$RiseNShine300:#FFE7AC;
$RiseNShine100:#FFF9EA;
$CandyGrape:#755AE8;
$CandyGrape-100:#F1EFFD;
$CandyGrape-800:#46368B;
$blackcolor:#000000;
$candygrape-600:#755AE8;


// Media Queries : Min-width
$media-lg : 1200px;
$media-sm : 360px;

// Media Queries : Max-width
$media-sm-max : 420px;


// font-weight
$font-weight-regular : 400;
$font-weight-heavy : 600;
$font-weight-bolder : 900;

// font-size
// nav
$font-nav : 30px;
$font-nav-sm : 26px ;
$font-nav-1 : 20px;

// header
$font-header : 68px;
$font-header-sm : 38px;
$font-header-1 : 18px;
$font-header-1-sm : 17px;
$font-header-2 : 20px;
$font-header-2-sm : 17px;

// main-section
